Input {
    padding: 5px;
    width: 400px;
}

CenterListView::item {
    background: #EEEEEE;
    padding: 5px;
    margin: 0;
}

CenterListView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}

CenterListView::item:selected {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6a6ea9, stop: 1 #888dd9);
}
