Input {
    padding: 5px;
    width: 400px;
}

/*borrowed from G+*/

Toggler {
    background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 whiteSmoke, stop: 1 #F1F1F1);
    border: 1px solid #832014;
    width: 90px;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
}

Toggler:hover {
    background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EEE, stop: 1 #E0E0E0);
    border: 1px solid #832014;
    width: 90px;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
}

Toggler:checked {
    background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EC7045, stop: 1 #D04028);
    border: 1px solid #832014;
    width: 90px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
}

QListView::item {
	margin: 20px;
}
 
QListView::item:selected {
	background: orange;
}

QListView QAbstractItemView::item {
    min-height: 50px;
    padding: 5px;
}

CenterListView::item {
    background: #EEEEEE;
    padding: 5px;
}

CenterListView {
    alternate-background-color: yellow;
}

CenterListView {
    show-decoration-selected: 1; /* make the selection span the entire width of the view */
}

CenterListView::item:alternate {
    background: #EEEEEE;
}

CenterListView::item:selected {
    border: 1px solid #6a6ea9;
}

CenterListView::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #ABAFE5, stop: 1 #8588B2);
}

CenterListView::item:selected:active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #6a6ea9, stop: 1 #888dd9);
}

CenterListView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}
